<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navBar.ejs') %>
    <div class="container">
        <br>
        <h2>Categorias</h2>
        <hr>
        <a href="/admin/categories/new"><button class="btn btn-primary" type="button">Criar nova categoria</button></a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULO</th>
                    <th>SLUG</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
            <% categories.forEach(categories => { %> 
                <tr>
                    <th><%=categories.id%></th>
                    <th><%=categories.title%></th>
                    <th><%=categories.slug%></th>
                    <th>
                        <form method="POST" action="/admin/categories/edit" style="display:inline;">
                            <input type="hidden" name="id" value="<%= categories.id %>">
                            <button class="btn btn-warning">Editar</button>
                        </form>
                        &nbsp;
                        <form method="POST" action="/admin/categories/delete" style="display:inline;" onsubmit="confirmarAcao(event , this)">
                            <input type="hidden" name="id" value="<%= categories.id %>">
                            <button class="btn btn-danger">Remover</button>
                        </form>
                        
                    </th>
                </tr>

            <%})%>    
            </tbody>
        </table>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>
<script>
    function confirmarAcao(event, form){
        event.preventDefault();
        const decision = confirm("Deseja deletar esta categoria?");
        if (decision) form.submit()
    }
</script>