<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navBar.ejs') %>
    <br>
 <div class="container">
     <br>
     <div class="card">
        <div class="card-header">
                <h2>Atualizar Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST"action="/articles/update">
                <input type="hidden" value="<%= article.id %>" name="id">
                <input class ="form-control" type="text" name="title" placeholder="Defina o titulo do Artigo" value="<%= article.title %>">
                <hr>
                <textarea class="form-control" placeholder="Escreva o Artigo" name="body" id="article"></textarea>
                <br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach(category => { %>
                          <% if(category.id === article.categoryId) {%>
                            <option value="<%=category.id%>" selected><%= category.title %></option>
                          <%}  else {%>
                            <option value="<%=category.id%>"><%= category.title %></option>
                          <% }%> 
                        
                    <%})%>
                </select>
                <br>
                <button class="btn btn-primary">Editar</button>
            </form>
        </div>
    </div>
 </div>
<div id="content" style="display: none;">
    <%- article.body %>
</div>
</body>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: ()=>{
            tinymce.get("article").setContent($("#content").html())
        }
    })

</script>