<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navBar.ejs') %>
    <br>
 <div class="container">
     <br>
     <div class="card">
        <div class="card-header">
                <h2>Novo Artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST"action="/admin/article/save">
                <input class ="form-control" type="text" name="title" placeholder="Defina o titulo do Artigo">
                <hr>
                <textarea class="form-control" placeholder="Escreva o Artigo" name="body" id="article"></textarea>
                <br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach(category => { %>
                        <option value="<%=category.id%>"><%= category.title %></option>
                    <%})%>
                </select>
                <br>
                <button class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
 </div>

</body>
<%- include('../../partials/footer.ejs') %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })

</script>