<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navBarHome.ejs') %>
    <div class="container">

        <hr>
        <% articles.forEach(article => { %>
            <br>
            <div class="card">
                <div class="card-header">
                    <%= article.title %>
                </div>
                <div class="card-body">
                    <a href="/<%=article.slug%>"><button class="btn btn-info">Ver mais</button></a>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include('partials/footer.ejs') %>